body {
    background-color: rgb(65, 79, 83);
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  img {
      text-align: center;
  }
  p {
    font-family: verdana;
    font-size: 20px;
    text-align:center;
  }
  a.center-text {
    display: block;
  }